/*******************************************************
    START GENERAL CSS SETTINGS 
 
*******************************************************/    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************************************
    END GENERAL CSS SETTINGS 
 
*******************************************************/  
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed; 
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #0563bb;
    border-left-color:#fff ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    25% {
        border: 6px solid #03325f;
        border-top-color: #fff;
        border-bottom-color: 03325f;
        border-left-color:#fff
    }

    50% {
        border: 6px solid #011323;
        border-top-color: #fff;
        border-bottom-color: #011323;
        border-left-color:#fff
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

/*******************************************************
    START SECTION SECTION 
 
*******************************************************/  

.section {
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: url(/images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(50%); */
}

.section-title {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: initial;
    padding-top: 5px;
    padding-bottom: 30px;
}

.curr {
    color:dodgerblue;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
}


.stay{
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.section .container  {
    padding-top: 50px;
}

.section .container .col-md {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section .container .col-md .container .row {
    display: flex;
    justify-content:space-evenly;
    line-height: 30px;
}

.section .container .col-md .container .row .col-lg{

    border:2px solid dodgerblue;
    padding: 15px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 500px){
    .section .container .col-md .container .row  {
        display: flex;
        flex-direction: column;
        /* border-spacing: 5px; */
    }

    .section .container .col-md .container .row .col-lg {
        margin: 15px 0 15px 0;
    }
}

.section .container .col-md .container .row .col-lg h1 {
    font-size: 40px;
}

.section .row1 {
    padding:6%;
    display: flex;
    flex-direction: column;
}

.section .row1 p{
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 1em;
}

.section .row1 form input{
    background-color : transparent;
    width: 50%;
    padding: 10px;
    border: 2px solid dodgerblue;
}

.section .row1 form input::placeholder {
    color: white;
    font-size: 15px;
}
.section .row1 form button{
    background-color : dodgerblue;
    color: white;
    width: 40%;
    padding: 15px;
    border: none;
    font-size: 15px
}


.section .row2 {
    padding: 5%;
}


.section .row2 .socials-links {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}


@media only screen and (max-width: 500px){
   .section .row2 .social-links {
    display: flex;
    flex-direction: column;
    }

    .section .row2 .social-links a {
        margin: 15px 0 15px 0;
        padding: 0;
    }
}

.section .row2 .social-links a{
    background-color : transparent;
    border: 2px solid dodgerblue;
    padding: 10px;
    color: dodgerblue;
    justify-content: space-around;
}

.section .row2 .social-links a i {
    font-size: 20px;
}

/*******************************************************
    END SECTION SECTION 
 
*******************************************************/ 

/*******************************************************
    START SECTION FEATURES 
 
*******************************************************/ 

.feature {
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 10px;
}

.feature .container .title {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature .container .title .feat{
    text-transform : uppercase;
    text-align: center;
    padding: 30px;
}

.feature .container .title i {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid dodgerblue;
    font-size: 1.5em;
}

.feature .container .row1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:darkgray;
    justify-content: space-around;
    line-height: 35px;
    margin-bottom: 30px;
}

.feature .container .row2 {
    display: flex;
}

@media only screen and (max-width: 500px){
    .feature .container .row2 {
        display: flex;
        flex-direction: column;
    }
    
}

.feature .container .row2 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

@media only screen and (max-width: 500px){
    .feature .container .row2 .col {
        margin: 15px 0 15px 0;
    }
}

.feature .container .row2 .col i{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin :10px;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid dodgerblue;
    font-size: 1.5em;
}



/*******************************************************
    END SECTION FEATURES 
 
*******************************************************/ 

/*******************************************************
    START SECTION ABOUT 
 
*******************************************************/ 

.about {
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.about .container .title {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .container .title .feat{
    text-transform : uppercase;
    text-align: center;
    padding: 30px;
}

.about .container .title i {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid dodgerblue;
    font-size: 1.5em;
}

.about .container .row1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:darkgray;
    justify-content: space-around;
    line-height: 35px;
    margin-bottom: 30px;
}

.about .container .row2 {
    display:flex;
}

@media only screen and (max-width: 500px){
    .about .container .row2 {
        display: flex;
        flex-direction: column;
    }
    
}

.about .container .row2 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}


.about .container .row2 .col img{
    margin :10px;
    color: dodgerblue;
    border: 5px solid dodgerblue;
}


/*******************************************************
    END SECTION ABOUT 
 
*******************************************************/ 

/*******************************************************
    START SECTION GET 
 
*******************************************************/ 


.get {
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 10px;
}

.get .container .title {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get .container .title .feat{
    text-transform : uppercase;
    text-align: center;
    padding: 30px;
}

.get .container .title i {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid dodgerblue;
    font-size: 1.5em;
}

.get .container .row1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:darkgray;
    justify-content: space-around;
    line-height: 35px;
    margin-bottom: 30px;
}

.get .container .row2 {
    display: flex;
    flex-direction: column;
}

.get .container .row2 .col form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

.get .container .row2 .col form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.get .container .row2 .col form .row input {
    width: 150%;
    height: 100%;
    padding: 10px 50px 10px 50px;
    margin: 10px 10px 10px 10px;
  
}

.get .container .row2 .col form .row  .p {
    border-right: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
}

.get .container .row2 .col form .row  .b {
    border-left: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
}

.get .container .row2 .col form  textarea {
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    border-left: 2px solid dodgerblue;
    border-top: 2px solid dodgerblue;
    border-right: 2px solid dodgerblue;
} 

.get .container .row2 .col form button {
    width:25%;
    padding: 10px 0px 10px 0px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    border: none;
}



/*******************************************************
    END SECTION GET 
 
*******************************************************/ 

/*******************************************************
    START FOOTER
 
*******************************************************/ 

footer {
    background-color:rgb(31, 11, 2) ;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}


footer p a {
    text-decoration: none;
    color: dodgerblue;
}

/*******************************************************
    BACK TO TOP BUTTON
 
*******************************************************/ 

.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
}